/* EnterCode.css */

/* ریست */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }
  
  /* ساختار دو ستونی */
  .enter-code-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f4f1eb;
  }
  
  /* ستون چپ */
  .enter-code-left {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100vh;
  }
  
  /* لوگو */
  .logo-box {
    width: 8%;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  .logo-box img {
    width: 123px;
    height: auto;
  }
  
  /* فرم وسط */
  .enter-code-box {
    margin: auto;
    width: 60%;
    text-align: center;
  }
  
  /* عنوان */
  .enter-code-title {
    color: #8B573C;
    font-weight: bold;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  /* زیرعنوان */
  .enter-code-subtitle {
    margin-bottom: 15px;
    color: var(--text-color);
  }
  
  /* پیام خطا */
  .enter-code-error {
    color: red;
    margin-bottom: 15px;
  }
  
  /* ورودی‌های کد */
  .code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .code-inputs input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  /* دکمه‌ها */
  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .cancel-btn,
  .verify-btn {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  .cancel-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    color:   #945436;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px #00000000);
    background: #FFF;
    transition: background 1s ease-in;
  }
  .verify-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    color: #FFF;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px #00000000);
    background: linear-gradient(to right, #fcddbc, #f3a853);
    transition: background 1s ease-in;
  }
  
  /* ستون راست: تصویر */
  .enter-code-right {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100vh;
  }
  .enter-code-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  