.container-search {
    font-family: sans-serif;
    padding: 20px;
    direction: rtl;
    max-width: 330px;
    height: 250px;
    margin: 5px auto;
    direction: ltr;
    background-color: #d4b7a3;
  }
  
  /* .input-field-search {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }

  .magnifying-icon {
    position: absolute;
    transform: translateY(85%);
  }

  .search-box-search input{
    padding-left: 10px;
    width: 100%;
    padding-inline: 35px;
  } */

  .history-title-search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #444;
  }
  
  .history-list-search {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .history-item-search {
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .close-btn-search {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #888;
  }
  