/* SetNewPassword.css */

/* ریست */

  
  /* کانتینر اصلی */
  .set-new-password-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f4f1eb;
  }
  
  /* ستون چپ */
  .snp-left {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100vh;
  }
  .snp-logo {
    width: 8%;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  .snp-logo img {
    width: 123px;
    height: auto;
  }
  .snp-box {
    margin: auto;
    width: 60%;
    text-align: center;
  }
  .snp-title {
    color: #8B573C;
    font-weight: bold;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .snp-subtitle {
    margin-bottom: 15px;
    color: var(--text-color);
  }
  .snp-error {
    color: red;
    margin-bottom: 10px;
  }
  .snp-success {
    color: green;
    margin-bottom: 10px;
  }
  .snp-input-group {
    position: relative;
    margin-bottom: 20px;
    background: #f0d6c4;
    border-radius: 15px;
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
  }

  
  .snp-input-group input {
    width: 100%;
    padding: 10px 30px ;
    background-color: #f0d6c4;
    border: 1px solid #D4B7A3;
    border-radius: 15px;
  }
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  /* دکمه‌ها */
  .snp-submit,
  .snp-back {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  .snp-submit {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    color: #FFF;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px #00000000);
    background: linear-gradient(to right, #fcddbc, #f3a853);
    transition: background 1s ease-in;
  }
  .snp-submit:hover {
    background-color: #7b422d;
  }
  .snp-back {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    color:   #945436;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px #00000000);
    background: #FFF;
    transition: background 1s ease-in;
  }
  
  /* ستون راست: تصویر */
  .snp-right {
    display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 100vh;
  }
  .snp-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  